aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.6
binance==0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptocompare==0.7.5
cryptography==3.4.7
dateparser==1.0.0
Flask==1.1.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.1.0
p5py==1.0.0
pep517==0.10.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyOpenSSL==20.0.1
python-binance==0.7.9
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
service-identity==18.1.0
six==1.15.0
telepot==12.7
Telethon==1.21.1
toml==0.10.2
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.4
Werkzeug==1.0.1
yarl==1.6.3
zope.interface==5.3.0
